// h1,
// h2,
// h3,
// h4 {
//   display: inline-block;
//   font-size: inherit;
//   margin-block-start: inherit;
//   margin-block-end: inherit;
//   margin-inline-start: inherit;
//   margin-inline-end: inherit;
//   font-weight: inherit;
// }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
}

.heading-primary {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;

  @media only screen and (max-width: 37.5em) {
    font-size: 1.8rem;
    padding: 1.25rem 2rem;
  }

  @media only screen and (max-width: 28.75em) {
    padding: 0.75rem 1.5rem;
    font-size: 1.5rem;
  }
}

.heading-secondary {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
  margin-bottom: 2.5rem;

  @media only screen and (max-width: 56.25em) {
    margin-bottom: 2rem;
  }

  @media only screen and (max-width: 46em) {
    padding: 1rem;
    margin-bottom: 1rem;
  }
}
