.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;

  flex: 0 0 40%;

  @media only screen and (max-width: 28.75em) {
    order: 1;
    flex: 1 0 90%;
    margin-top: 1rem;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all 0.2s;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);

      @media only screen and (max-width: 28.75em) {
        width: 95%;
      }
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }

  &__button {
    border: none;
    background-color: var(--color-grey-light-2);
    margin-left: -3.25rem;
    transition: all 0.2s;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__svg {
    height: 2rem;
    width: 2rem;

    & > path {
      fill: var(--color-grey-dark-3);
    }
  }
}
