.hotels {
  &__body {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
  }

  &__description {
    flex: 0 0 60%;
    margin-right: 4.5rem;
  }
  &__reviews {
    flex: 1;

    & > *:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }
}
