.title-bar {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__stars {
    margin-right: auto;
  }

  &__location {
    display: flex;
    align-items: center;
    margin-right: 3rem;

    @media only screen and (max-width: 28.75em) {
      margin-right: 1rem;
    }
  }

  &__location-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
    margin-right: 0.5rem;

    @media only screen and (max-width: 28.75em) {
      height: 1.5rem;
      width: 1.5rem;
    }
  }
}
