.title-bar {
  display: flex;
  align-items: center;
  border-bottom: var(--line);

  &__stars {
    margin-right: auto;
  }

  &__location {
    display: flex;
    align-items: center;
    margin-right: 3rem;
  }

  &__location-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
    margin-right: 0.5rem;
  }
}
