/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999; }

* {
  margin: 0;
  padding: 0; }

*,
::before,
::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  min-height: 100vh; }

:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2); }

.u-flexbox {
  display: flex; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2); }

.heading-primary {
  font-size: 2.25rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 1.8rem;
      padding: 1.25rem 2rem; } }
  @media only screen and (max-width: 28.75em) {
    .heading-primary {
      padding: 0.75rem 1.5rem;
      font-size: 1.5rem; } }

.heading-secondary {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 1.5rem 3rem;
  margin-bottom: 2.5rem; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 46em) {
    .heading-secondary {
      padding: 1rem;
      margin-bottom: 1rem; } }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  position: relative;
  min-height: 50rem; }
  @media only screen and (max-width: 75em) {
    .container {
      margin: 0;
      max-width: 100%;
      width: 100%; } }
  .container__content {
    display: flex; }
    @media only screen and (max-width: 56.25em) {
      .container__content {
        flex-direction: column; } }

.navbar {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom: var(--line);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative; }
  @media only screen and (max-width: 28.75em) {
    .navbar {
      flex-wrap: wrap;
      padding: 1rem 0;
      height: 100%;
      width: 100%; } }
  .navbar__logo {
    height: 3.25rem;
    margin-left: 2rem; }
  .navbar__profile-dropdown {
    top: 14.6rem;
    visibility: hidden;
    position: absolute;
    right: -2rem;
    opacity: 0;
    transition: opacity 0.2s; }
    .navbar__profile-dropdown:hover {
      visibility: visible;
      opacity: 1; }

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;
  position: relative; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover:not(.navbar__profile-dropdown) {
      background-color: var(--color-grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__user:hover + .navbar__profile-dropdown {
    visibility: visible;
    opacity: 1; }

.dropdown {
  font-size: 1.2rem;
  display: inline-block;
  width: auto;
  background-color: #fff;
  z-index: 10;
  box-shadow: var(--shadow-dark); }
  .dropdown__user {
    display: flex;
    align-items: center;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all 0.2s; }
    .dropdown__user:hover {
      background-color: var(--color-grey-light-2); }
    .dropdown__user-info {
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
  .dropdown__photo {
    background-image: url(/src/img/user.jpg);
    display: inline-block;
    background-size: cover;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    margin-right: 1rem; }
  .dropdown__items {
    list-style: none;
    padding: 1rem 2rem; }
  .dropdown__item {
    padding: 0.7rem 0;
    transition: all 0.2s;
    cursor: pointer; }
    .dropdown__item:hover {
      color: var(--color-primary); }
  .dropdown__sign-out {
    color: var(--color-primary); }

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 40%; }
  @media only screen and (max-width: 28.75em) {
    .searchbar {
      order: 1;
      flex: 1 0 90%;
      margin-top: 1rem; } }
  .searchbar__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--color-grey-light-2);
    color: inherit;
    border: none;
    padding: 0.7rem 2rem;
    border-radius: 10rem;
    width: 90%;
    transition: all 0.2s; }
    .searchbar__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3); }
      @media only screen and (max-width: 28.75em) {
        .searchbar__input:focus {
          width: 95%; } }
    .searchbar__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4); }
  .searchbar__input:focus + .searchbar__button {
    background-color: var(--color-grey-light-3); }
  .searchbar__button {
    border: none;
    background-color: var(--color-grey-light-2);
    margin-left: -3.25rem;
    transition: all 0.2s; }
    .searchbar__button:focus {
      outline: none; }
    .searchbar__button:active {
      transform: translateY(2px); }
  .searchbar__svg {
    height: 2rem;
    width: 2rem; }
    .searchbar__svg > path {
      fill: var(--color-grey-dark-3); }

.profile-button__photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem; }

.notif-icon {
  position: relative; }
  .notif-icon__icon {
    height: 2.25rem;
    width: 2.25rem; }
    .notif-icon__icon > path {
      fill: var(--color-grey-dark-2); }
  .notif-icon__notification {
    font-size: 0.8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem; }

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .sidebar__legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-4); }
    @media only screen and (max-width: 56.25em) {
      .sidebar__legal {
        display: none; } }

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      justify-content: center;
      margin-top: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: 0.5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    .side-nav__item::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform 0.1s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s, background-color 0.1s; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item::before {
          width: 100%; } }
    .side-nav__item:hover::before, .side-nav__item--active::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item:active::before {
      background-color: var(--color-primary-light); }

.sidebar-link:link, .sidebar-link:visited {
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .sidebar-link:link, .sidebar-link:visited {
      justify-content: center; } }
  @media only screen and (max-width: 37.5em) {
    .sidebar-link:link, .sidebar-link:visited {
      padding: 1.5rem 1rem; } }
  @media only screen and (max-width: 28.75em) {
    .sidebar-link:link, .sidebar-link:visited {
      flex-direction: column;
      text-align: center;
      padding: 1rem 0.5rem; } }

.sidebar-link__icon {
  fill: currentColor;
  transform: scale(0.95);
  margin-right: 2rem;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 28.75em) {
    .sidebar-link__icon {
      margin-bottom: 0.75rem;
      margin-right: 0; } }

.main-content {
  background-color: #fff;
  min-height: 50rem;
  flex: 1;
  width: auto;
  font-size: 1.2rem;
  overflow: hidden; }

.image-banner {
  display: flex;
  overflow: hidden; }
  .image-banner__photo {
    width: 100%;
    display: block;
    transition: all 0.2s; }

.coming-soon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; }

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative; }
  .welcome-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%; }

.section-description {
  font-size: 1.4rem;
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  padding: 3rem;
  height: 100%; }
  @media only screen and (max-width: 56.25em) {
    .section-description {
      padding: 2rem; } }
  .section-description .paragraph:not(:last-of-type) {
    margin-bottom: 2rem; }
  .section-description .list {
    margin: 3rem 0;
    list-style: none;
    padding: 3rem;
    border-top: var(--line);
    border-bottom: var(--line);
    display: flex;
    flex-wrap: wrap; }
    @media only screen and (max-width: 46em) {
      .section-description .list {
        padding: 1.5rem; } }
    .section-description .list-item {
      flex: 0 0 50%;
      margin-bottom: 0.7rem; }
      .section-description .list-item::before {
        content: "";
        display: inline-block;
        height: 1rem;
        width: 1rem;
        margin-right: 0.7rem; }
        @supports (mask-image: url()) or (-webkit-mask-image: url()) {
          .section-description .list-item::before {
            background-color: var(--color-primary);
            -webkit-mask-image: url("/src/img/chevron-thin-right.svg");
            mask-image: url("/src/img/chevron-thin-right.svg");
            -webkit-mask-size: cover;
            mask-size: cover;
            background-image: none; } }
  .section-description .recommend {
    font-size: 1.3rem;
    color: var(--color-grey-dark-3);
    display: flex;
    align-items: center; }
    .section-description .recommend__count {
      margin-right: auto; }
    .section-description .recommend__friends {
      display: flex; }
    .section-description .recommend__photo {
      box-sizing: content-box;
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      border: 3px solid #fff; }
      .section-description .recommend__photo:not(:last-child) {
        margin-right: -2rem; }

.hotels__body {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line); }
  @media only screen and (max-width: 56.25em) {
    .hotels__body {
      padding: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .hotels__body {
      flex-direction: column; } }
  @media only screen and (max-width: 28.75em) {
    .hotels__body {
      padding: 2rem; } }

.hotels__description {
  flex: 0 0 60%;
  margin-right: 4.5rem; }
  @media only screen and (max-width: 56.25em) {
    .hotels__description {
      margin-right: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .hotels__description {
      margin-right: 0; } }

.hotels__reviews {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .hotels__reviews > *:not(:last-child) {
    margin-bottom: 3.5rem; }
    @media only screen and (max-width: 56.25em) {
      .hotels__reviews > *:not(:last-child) {
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .hotels__reviews > *:not(:last-child) {
        margin-right: 2rem;
        margin-bottom: 1rem;
        flex: 0 0 40%; } }
    @media only screen and (max-width: 28.75em) {
      .hotels__reviews > *:not(:last-child) {
        flex: 1;
        margin-right: 0; } }
  @media only screen and (max-width: 37.5em) {
    .hotels__reviews {
      margin-top: 2rem;
      flex-direction: row;
      flex-wrap: wrap; } }
  @media only screen and (max-width: 37.5em) {
    .hotels__reviews {
      margin-top: 1rem;
      flex-direction: column; } }

.review-card {
  background-color: #fff;
  padding: 3rem;
  box-shadow: var(--shadow-light);
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 56.25em) {
    .review-card {
      padding: 2rem; } }
  .review-card .paragraph {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    z-index: 10;
    position: relative; }
  .review-card__details {
    display: flex;
    align-items: center; }
  .review-card__photo {
    border-radius: 50%;
    height: 4.5rem;
    width: 4.5rem;
    margin-right: 1.5rem; }
  .review-card__user-info {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    margin-right: auto; }
  .review-card__name {
    text-transform: uppercase;
    font-size: 1.1rem;
    color: var(--color-grey-dark-2);
    font-weight: 600;
    margin-bottom: 0.4rem; }
  .review-card__date {
    color: var(--color-grey-dark-3); }
  .review-card__score {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300; }
  .review-card::before {
    content: "\201C";
    position: absolute;
    color: var(--color-grey-light-2);
    font-size: 20rem;
    top: -2.75rem;
    left: -1rem;
    font-family: sans-serif;
    line-height: 1;
    z-index: 1; }

.title-bar {
  display: flex;
  align-items: center;
  border-bottom: var(--line); }
  .title-bar__stars {
    margin-right: auto; }
  .title-bar__location {
    display: flex;
    align-items: center;
    margin-right: 3rem; }
    @media only screen and (max-width: 28.75em) {
      .title-bar__location {
        margin-right: 1rem; } }
  .title-bar__location-icon {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
    margin-right: 0.5rem; }
    @media only screen and (max-width: 28.75em) {
      .title-bar__location-icon {
        height: 1.5rem;
        width: 1.5rem; } }

.stars {
  display: flex;
  align-items: center; }
  .stars__star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary); }
    @media only screen and (max-width: 28.75em) {
      .stars__star {
        height: 1.5rem;
        width: 1.5rem; } }
  .stars__half {
    background-image: url(/src/img/SVG/half-star.svg); }
    @supports (mask-image: url()) or (-webkit-mask-image: url()) {
      .stars__half {
        background-color: var(--color-primary);
        mask-image: url(/src/img/SVG/half-star.svg);
        mask-size: cover;
        -webkit-mask-image: url(/src/img/SVG/half-star.svg);
        -webkit-mask-size: cover;
        background-image: none; } }

.text-link {
  color: var(--color-primary);
  font-size: inherit;
  transition: all 0.2s;
  text-decoration: none;
  border-bottom: 1px solid currentColor; }
  .text-link span {
    margin-left: 3px;
    transition: margin-left 0.2s; }
  .text-link:hover {
    color: var(--color-grey-dark-1); }
    .text-link:hover span {
      margin-left: 8px; }
  .text-link:focus {
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.score-tile {
  background-color: var(--color-primary);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 2.25rem;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .score-tile {
      padding: 0 1rem; } }
  .score-tile__score {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px; }
    @media only screen and (max-width: 37.5em) {
      .score-tile__score {
        font-size: 1.8rem; } }
  .score-tile__votes {
    font-size: 0.8rem;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .score-tile__votes {
        font-size: 0.8rem; } }

.booking-bar {
  background-color: #fff;
  border-top: var(--line);
  padding: 3.5rem 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column; }
  @media only screen and (max-width: 56.25em) {
    .booking-bar {
      padding: 2.5rem 0; } }

.btn {
  font-size: 1.5rem;
  border: none;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10rem;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  transition: all 0.2s;
  position: relative;
  overflow: hidden; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all 0.15s; }
  .btn-visible {
    padding: 2rem 7.5rem; }
  .btn-hidden {
    position: absolute;
    padding: 2rem 0;
    left: 0;
    top: -100%; }
  .btn:hover {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light)); }
  .btn:hover .btn-visible {
    transform: translateY(100%); }
  .btn:hover .btn-hidden {
    top: 0; }
  .btn:focus {
    animation: pulsate 1s infinite; }
