.sidebar {
  background-color: var(--color-grey-dark-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-grey-light-4);

    @media only screen and (max-width: 56.25em) {
      display: none;
    }
  }
}

.side-nav {
  list-style: none;
  font-size: 1.4rem;
  margin-top: 3.5rem;

  @media only screen and (max-width: 56.25em) {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  &__item {
    position: relative;

    @media only screen and (max-width: 56.25em) {
      flex: 1;
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
      @media only screen and (max-width: 56.25em) {
        margin-bottom: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      top: 0;
      left: 0;
      transform: scaleY(0);
      transition: transform 0.1s, width 0.2s cubic-bezier(1, 0, 0, 1) 0.1s,
        background-color 0.1s;
      @media only screen and (max-width: 56.25em) {
        width: 100%;
      }
    }

    &:hover::before,
    &--active::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }
}
