.sidebar-link {
  &:link,
  &:visited {
    color: var(--color-grey-light-1);
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;

    display: flex;
    align-items: center;

    @media only screen and (max-width: 56.25em) {
      justify-content: center;
    }

    @media only screen and (max-width: 37.5em) {
      padding: 1.5rem 1rem;
    }

    @media only screen and (max-width: 28.75em) {
      flex-direction: column;
      text-align: center;
      padding: 1rem 0.5rem;
    }
  }

  &__icon {
    fill: currentColor;
    transform: scale(0.95);
    margin-right: 2rem;
    display: flex;
    align-items: center;

    @media only screen and (max-width: 28.75em) {
      margin-bottom: 0.75rem;
      margin-right: 0;
    }
  }
}
