.score-tile {
  background-color: var(--color-primary);
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 0 2.25rem;
  text-align: center;

  @media only screen and (max-width: 37.5em) {
    padding: 0 1rem;
  }

  &__score {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;

    @media only screen and (max-width: 37.5em) {
      font-size: 1.8rem;
    }
  }

  &__votes {
    font-size: 0.8rem;
    text-transform: uppercase;

    @media only screen and (max-width: 37.5em) {
      font-size: 0.8rem;
    }
  }
}
